<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue demo</title>
</head>

<body>
    <div id="app">
        <input v-model="keyword">
        <sharedlink v-for="item in filteredLinks" :link="item" :key="item.id">
        </sharedlink>
        <input v-model="input.url">
        <ul>
            <taginput v-for="(tag, index) in input.tags" :tags="input.tags" :key="index" :index="index"></taginput>
        </ul>
        <button @click="addTag">Add tag</button>
        <button @click="submitLink">Submit</button>
        <button @click="clear">Clear</button>
        </ul>
    </div>






























    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="assets/js/main.js"></script>
</body>

</html>